<!DOCTYPE html>

<html>

<head>
	<title>Product demo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <div class="bgimg">
    <div class="topleft">
      <p>FDM</p>
    </div>
    <div class="middle">
      <h1>COMING SOON</h1>
      <hr>
      {% block content %}
          {% if data is not none %}
            <p>{{ data }}</p>
          {% else %}
            <p>Type in something</p>
          {% endif %}
      {% endblock content %}
      <form action="{{ url_for('main') }}" method="post">
        <textarea name="textarea"></textarea>
        <p></p>
        <input type="submit" class="button" value="Try this text">
      </form>
    </div>
  </div>
</body>

</html>
